/*Body*/
.body{
    font-size: 12px;
    line-height: 1.48;
    color: #333333;
    background:#f0f0f0;
    overflow-x: hidden;
}
/*TOP*/
#Top{
    background-color: #3b3a3a9d;
    padding: 10px 0px;
    margin-bottom: 20px;
}

#Top .offer{
    color: #ffffff;
}
#Top .offer a{
    color:#FFFFFF;
    padding-left: 5px;
}

#Top .offer .btn{
    text-transform: uppercase;
}
@media(max-width: 991px){
    #Top .offer{
        margin-top: 10px;
    }
}
@media(max-width:991px){
   #Top{
       font-size: 10px;
       text-align: center;
   } 
   #Top a{
       color:#FFFFFF;
   }

   #Top ul.menu{
       padding-top: 4px;
       margin:1px;
       text-align: right;
       font-size: 10px;
       list-style: none;
   }
}
@media(max-width:991px){
    #Top ul.menu{
        text-align: center;
    }
}
#Top ul.menu > li{
    display: inline-block;
}
#Top ul.menu > li a{
    color: #f0f0f0;
}
#Top ul.menu > li + li:before{
    content: "|\00a0";
    color:#f7f7f7;
    padding: 0 5px;
}

.navbar{
    background: rgba(255, 255, 255, 0.733);

}

.navbar-collapse .right{
    float:right;
}
 .navbar-brand{
     float: left;
     padding: 10px 15px;
     font-size: 18px;
     line-height: 20px;
     height: 75px;;
 }

 .navbar-brand:hover,
 .navbar-brand:focus{
     text-decoration: none;   
 }

 .navbar ul.nav > li > a{
     text-transform: uppercase;
     font-weight: bold;
     font-size: 14px;
 }
 .navbar ul.nav > li > a:hover{
    color:#ffffff;
    background-color: #e7e7e7;
 }
 .padding-nav{
     padding-top: 10px;
 }

 .btn-primary{
     color: rgb(255,255,255);
     background: rgb(79,191,168);
     background-color: rgb(65,179,165);
 }

 #search .navbar-form{
     float:right;
 }

 #search {
     clear: both;
     border-top: solid 1px #9adacd;
     text-align: right;
 }

 #search .navbar-form .input-group{
     display: table;
 }
 #search .navbar-form .input-group .form-control{
    width:100%;
}

